<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <!-- =========================================================  -->
    <link rel="icon" type="image/png" href="Assets/img/icons/favicon.ico" />

    <!-- jQuery CDN  -->
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- CSS  -->
    <!-- Aos css  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Swiper Css  -->
    <link
      rel="stylesheet"
      href="/Assets/vendors/Swiper/css/swiper-bundle.min.css"
    />
    <!-- Owl Stylesheets -->
    <link
      rel="stylesheet"
      href="/Assets/vendors/owlcarousel/dist/assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="/Assets/vendors/owlcarousel/dist/assets/owl.theme.default.css"
    />
    <!-- Box icons css  -->
    <link
      rel="stylesheet"
      href="Assets/vendors/boxicons/css/boxicons.min.css"
    />

    <!-- Bootstrap Css  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="Assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <!-- Core Css  -->
    <link rel="stylesheet" href="/Assets/css/index.css" />
    <title>deem.</title>
  </head>
  <body>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">deem.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-align-left navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto mb-2">
            <li class="nav-item">
              <a class="nav-link nav-active" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rates">Rates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li>
          </ul>
          <ul
            class="navbar-nav mb-2 mb-md-0 d-flex align-items-center justify-content-center"
          >
            <li class="nav-item">
              <a href="/login" class="nav-link">Sign in</a>
            </li>
            <li class="nav-link">
              <a href="/register" class="btn btn-btn">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Showcase Section  -->
    <section class="showcase">
      <div class="container-fluid">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item">
              <!-- <img src="..." class="d-block w-100" alt="..." /> -->
              <div class="row">
                <div class="col-md-6 showcase-text">
                  <h1 class="showcase-title">Secure Transactions</h1>
                  <p class="showcase-content">
                    Secure Transactions between buyers and sellers to avoid
                    risks.
                  </p>
                  <a href="/register" class="btn btn-btn">Get Started</a>
                </div>
                <div class="col-md-6 showcase-img">
                  <img
                    src="/Assets/img/img-2.png"
                    class="img-fluid w-100"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6 showcase-text">
                  <h1 class="showcase-title">Best Exchange Rates</h1>
                  <p class="showcase-content">
                    The best crypto trading platform with the best rate you can
                    get.
                  </p>
                  <a href="/register" class="btn btn-btn">Get Started</a>
                </div>
                <div class="col-md-6 showcase-img">
                  <img
                    src="/Assets/img/img-3.png"
                    class="img-fluid w-100"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6 showcase-text">
                  <h1 class="showcase-title">
                    Most used Crypto Exchange Platform
                  </h1>
                  <p class="showcase-content">
                    The No. 1 Crypto Exchange Platform in Nigeria.
                  </p>
                  <a href="/register" class="btn btn-btn">Get Started</a>
                </div>
                <div class="col-md-6 showcase-img">
                  <img
                    src="/Assets/img/img-1.png"
                    class="img-fluid w-100"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wave  -->
    <div class="wave">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#13192F"
          fill-opacity="1"
          d="M0,256L16,229.3C32,203,64,149,96,133.3C128,117,160,139,192,133.3C224,128,256,96,288,117.3C320,139,352,213,384,256C416,299,448,309,480,304C512,299,544,277,576,240C608,203,640,149,672,117.3C704,85,736,75,768,96C800,117,832,171,864,197.3C896,224,928,224,960,213.3C992,203,1024,181,1056,186.7C1088,192,1120,224,1152,240C1184,256,1216,256,1248,245.3C1280,235,1312,213,1344,170.7C1376,128,1408,64,1424,32L1440,0L1440,0L1424,0C1408,0,1376,0,1344,0C1312,0,1280,0,1248,0C1216,0,1184,0,1152,0C1120,0,1088,0,1056,0C1024,0,992,0,960,0C928,0,896,0,864,0C832,0,800,0,768,0C736,0,704,0,672,0C640,0,608,0,576,0C544,0,512,0,480,0C448,0,416,0,384,0C352,0,320,0,288,0C256,0,224,0,192,0C160,0,128,0,96,0C64,0,32,0,16,0L0,0Z"
        ></path>
      </svg>
    </div>
    <!-- Features Section  -->
    <section class="features">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-md-4 mb-3">
            <div class="feature-icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="feature-title">Easy to use</div>
            <div class="feature-text">
              <span class="navbar-brand">deem.</span> is very easy to use don't
              ponder on how to use it
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="feature-icon">
              <i class="fa-solid fa-right-left"></i>
            </div>
            <div class="feature-title">Good Rate</div>
            <div class="feature-text">
              <span class="navbar-brand">deem.</span> is fast and has reliable
              exchange rates you can rely on.
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-icon">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="feature-title">Secure</div>
            <div class="feature-text">
              <span class="navbar-brand">deem.</span> is secured so you don't
              have to worry about your transactions
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Live-rate  -->
    <section class="live-rate">
      <div class="container-fluid" data-aos="fade-up">
        <h1 class="exchange-rate-title">Live Exchange Rate</h1>
        <div class="owl-carousel owl-theme owl-loaded owl-height">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item">
                <div class="crypto-icon">
                  <i class="fa-brands fa-bitcoin"></i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Bitcoin</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">560/$</div>
                    <div class="crypto-value">$<%=btcvalue%></div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="crypto-icon">
                  <i class="fa-brands fa-ethereum"></i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Ethereum</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">520/$</div>
                    <div class="crypto-value">$<%=ethvalue%></div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      id="Layer_1"
                      class="img-fluid w-25"
                      data-name="Layer 1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 511.97 511.97"
                    >
                      <defs>
                        <style>
                          .bnb {
                            fill: #f3ba2f;
                          }
                        </style>
                      </defs>
                      <title>binance-coin-bnb</title>
                      <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1-2">
                          <path
                            class="bnb"
                            d="M156.56,215.14,256,115.71l99.47,99.47,57.86-57.85L256,0,98.71,157.28l57.85,57.85M0,256l57.86-57.87L115.71,256,57.85,313.83Zm156.56,40.85L256,396.27l99.47-99.47,57.89,57.82,0,0L256,512,98.71,354.7l-.08-.09,57.93-57.77M396.27,256l57.85-57.85L512,256l-57.85,57.85Z"
                          />
                          <path
                            class="bnb"
                            d="M314.66,256h0L256,197.25,212.6,240.63h0l-5,5L197.33,255.9l-.08.08.08.08L256,314.72l58.7-58.7,0,0-.05,0"
                          />
                        </g>
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Binance BNB</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">520/$</div>
                    <div class="crypto-value">$<%=bnbvalue%></div>
                  </div>
                </div>
              </div>
              <!-- Lite coin  -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i class="fa-solid fa-litecoin-sign"></i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Litecoin</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=ltcvalue%></div>
                  </div>
                </div>
              </div>
              <!-- Bitcoin cash  -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      class="img-fluid w-25"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="16" cy="16" fill="#8dc351" r="16" />
                        <path
                          d="M21.207 10.534c-.776-1.972-2.722-2.15-4.988-1.71l-.807-2.813-1.712.491.786 2.74c-.45.128-.908.27-1.363.41l-.79-2.758-1.711.49.805 2.813c-.368.114-.73.226-1.085.328l-.003-.01-2.362.677.525 1.83s1.258-.388 1.243-.358c.694-.199 1.035.139 1.2.468l.92 3.204c.047-.013.11-.029.184-.04l-.181.052 1.287 4.49c.032.227.004.612-.48.752.027.013-1.246.356-1.246.356l.247 2.143 2.228-.64c.415-.117.825-.227 1.226-.34l.817 2.845 1.71-.49-.807-2.815a65.74 65.74 0 001.372-.38l.802 2.803 1.713-.491-.814-2.84c2.831-.991 4.638-2.294 4.113-5.07-.422-2.234-1.724-2.912-3.471-2.836.848-.79 1.213-1.858.642-3.3zm-.65 6.77c.61 2.127-3.1 2.929-4.26 3.263l-1.081-3.77c1.16-.333 4.704-1.71 5.34.508zm-2.322-5.09c.554 1.935-2.547 2.58-3.514 2.857l-.98-3.419c.966-.277 3.915-1.455 4.494.563z"
                          fill="#fff"
                          fill-rule="nonzero"
                        />
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Bitcoin Cash</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=bchvalue%></div>
                  </div>
                </div>
              </div>
              <!-- Ripple  -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 128 128"
                      class="w-25 img-fluid"
                    >
                      <path
                        fill="#03a1dc"
                        d="M123 26.8c0 12.5-9.3 24.6-22.9 26.2-2.4.3-4.9.3-7.3.8-7.8 1.6-11.2 11.1-6 17.1 2.1 2.5 5.1 3.4 8.3 3.7 3.3.4 6.8.5 9.9 1.6 10.1 3.4 15.9 10.7 17.6 21.2 2.3 14.2-7.3 27-20.6 30-14.5 3.3-29.5-6.5-32.1-21.1-1.2-6.4.1-12.3 3-17.9 1.2-2.4 2.2-4.7 2.1-7.5-.2-4.4-3-8-7.4-9.5-3.8-1.3-8.1-.1-10.8 3.2-1.7 2.1-3.1 4.5-4.8 6.6-6.9 8.3-15.9 11.2-26.3 8.9-10.5-2.5-17.3-9.3-19.9-19.7C2 55.6 11.4 40.6 26.4 37.8c11-2.1 20 1.5 26.8 10.5 1.4 1.9 2.7 4.1 4.4 5.7 5.5 5.5 15.4 2.8 17.3-4.7.7-2.9.1-5.7-1.3-8.4-2.5-4.8-4.3-9.9-4.1-15.4C69.9 12.8 80 1.9 92.6.2c14.2-1.8 27.3 7.5 30 21.7.2 1.6.3 3.3.4 4.9z"
                      />
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Ripple</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=rpevalue%></div>
                  </div>
                </div>
              </div>
              <!-- USDC   -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-25 img-fluid"
                    >
                      <g fill="none">
                        <circle fill="#3E73C4" cx="16" cy="16" r="16" />
                        <g fill="#FFF">
                          <path
                            d="M20.022 18.124c0-2.124-1.28-2.852-3.84-3.156-1.828-.243-2.193-.728-2.193-1.578 0-.85.61-1.396 1.828-1.396 1.097 0 1.707.364 2.011 1.275a.458.458 0 00.427.303h.975a.416.416 0 00.427-.425v-.06a3.04 3.04 0 00-2.743-2.489V9.142c0-.243-.183-.425-.487-.486h-.915c-.243 0-.426.182-.487.486v1.396c-1.829.242-2.986 1.456-2.986 2.974 0 2.002 1.218 2.791 3.778 3.095 1.707.303 2.255.668 2.255 1.639 0 .97-.853 1.638-2.011 1.638-1.585 0-2.133-.667-2.316-1.578-.06-.242-.244-.364-.427-.364h-1.036a.416.416 0 00-.426.425v.06c.243 1.518 1.219 2.61 3.23 2.914v1.457c0 .242.183.425.487.485h.915c.243 0 .426-.182.487-.485V21.34c1.829-.303 3.047-1.578 3.047-3.217z"
                          />
                          <path
                            d="M12.892 24.497c-4.754-1.7-7.192-6.98-5.424-11.653.914-2.55 2.925-4.491 5.424-5.402.244-.121.365-.303.365-.607v-.85c0-.242-.121-.424-.365-.485-.061 0-.183 0-.244.06a10.895 10.895 0 00-7.13 13.717c1.096 3.4 3.717 6.01 7.13 7.102.244.121.488 0 .548-.243.061-.06.061-.122.061-.243v-.85c0-.182-.182-.424-.365-.546zm6.46-18.936c-.244-.122-.488 0-.548.242-.061.061-.061.122-.061.243v.85c0 .243.182.485.365.607 4.754 1.7 7.192 6.98 5.424 11.653-.914 2.55-2.925 4.491-5.424 5.402-.244.121-.365.303-.365.607v.85c0 .242.121.424.365.485.061 0 .183 0 .244-.06a10.895 10.895 0 007.13-13.717c-1.096-3.46-3.778-6.07-7.13-7.162z"
                          />
                        </g>
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">USDC</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=usdcvalue%></div>
                  </div>
                </div>
              </div>
              <!-- Tether  -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="64"
                      height="65"
                      viewBox="0 0 64 65"
                      class="w-25 img-fluid"
                    >
                      <g fill="none" fill-rule="nonzero">
                        <circle cx="32.2" cy="32.4" r="31.7" fill="#00A478" />
                        <path
                          fill="#FFF"
                          d="M28.6 29.4v-8.1H17.9v-7.1h29.9v7.2H37.1v8z"
                        />
                        <path
                          fill="#FFF"
                          d="M32.6 26.2c11.2 0 17 3.1 17.7 4.1-.7 1-6.4 2.5-17.7 2.5-11.2 0-17-1.5-17.7-2.5.7-1.1 6.5-4.1 17.7-4.1zm0-.8c-10.7 0-19.3 2.2-19.3 4.9s8.6 4.9 19.3 4.9c10.7 0 19.3-2.2 19.3-4.9s-8.6-4.9-19.3-4.9z"
                        />
                        <g fill="#FFF" transform="translate(28 26)">
                          <path
                            d="M9.1 5.9V.3C7.7.2 6.2.1 4.7.1 3.3.1 2 .1.7.2v5.6c1.2 0 2.6.1 4 .1 1.5.1 3 .1 4.4 0zM4.6 9.2c-1.4 0-2.7 0-4-.1V24H9V9c-1.4.1-2.9.2-4.4.2z"
                          />
                        </g>
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Tether</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=tthvalue%></div>
                  </div>
                </div>
              </div>
              <!-- Doge -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="img-fluid w-25"
                      viewBox="0 0 32 32"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="16" cy="16" r="16" fill="#C3A634" />
                        <path
                          fill="#FFF"
                          d="M13.248 14.61h4.314v2.286h-4.314v4.818h2.721c1.077 0 1.958-.145 2.644-.437.686-.291 1.224-.694 1.615-1.21a4.4 4.4 0 00.796-1.815 11.4 11.4 0 00.21-2.252 11.4 11.4 0 00-.21-2.252 4.396 4.396 0 00-.796-1.815c-.391-.516-.93-.919-1.615-1.21-.686-.292-1.567-.437-2.644-.437h-2.721v4.325zm-2.766 2.286H9v-2.285h1.482V8h6.549c1.21 0 2.257.21 3.142.627.885.419 1.607.99 2.168 1.715.56.724.977 1.572 1.25 2.543.273.971.409 2.01.409 3.115a11.47 11.47 0 01-.41 3.115c-.272.97-.689 1.819-1.25 2.543-.56.725-1.282 1.296-2.167 1.715-.885.418-1.933.627-3.142.627h-6.549v-7.104z"
                        />
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">DOGE Coin</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=dogevalue%></div>
                  </div>
                </div>
              </div>
              <!-- Other Crypto  -->
              <div class="owl-item">
                <div class="crypto-icon">
                  <i>
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      xmlns="http://www.w3.org/2000/svg"
                      class="img-fluid w-25"
                    >
                      <g fill="none">
                        <circle fill="#EF0027" cx="16" cy="16" r="16" />
                        <path
                          d="M21.932 9.913L7.5 7.257l7.595 19.112 10.583-12.894-3.746-3.562zm-.232 1.17l2.208 2.099-6.038 1.093 3.83-3.192zm-5.142 2.973l-6.364-5.278 10.402 1.914-4.038 3.364zm-.453.934l-1.038 8.58L9.472 9.487l6.633 5.502zm.96.455l6.687-1.21-7.67 9.343.983-8.133z"
                          fill="#FFF"
                        />
                      </g>
                    </svg>
                  </i>
                </div>
                <div class="crypto-info">
                  <div class="crypto-name">
                    <div class="crypto-name">Tron</div>
                    <div class="crypto-live-value">Live&nbsp;Value($)</div>
                  </div>
                  <div class="crypto-value">
                    <div class="crypto-rate">565/$</div>
                    <div class="crypto-value">$<%=tronvalue%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- First brand Ad  -->
    <section class="brand-ad">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-md-6 ad">
            <h1 class="brand-ad-title">
              <span class="navbar-brand">deem.</span> the No. 1 Crypto and Card
              Exchange Platform in Nigeria
            </h1>
            <p class="brand-ad-content">
              <span class="brand">deem.</span> is the best platform you can buy
              and sell cryptocurrencies and gift cards with fast payment into
              your account.
            </p>
            <div class="btns g-5">
              <a href="/register" class="btn btn-btn">Register</a>
              <a href="/login" class="btn btn-dark">Login</a>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center brand-ad-img">
            <img
              src="/Assets/img/slider-img.png"
              alt=""
              class="img-fluid w-75"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Second Brand Ad  -->
    <section class="brand-ad-2">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-md-6">
            <h1><span class="navbar-brand"> deem. </span> Crypto Exchange</h1>
            <ul class="brand-ad-2-ul">
              <li class="brand-ad-2-li">
                <span><i class="fa-brands fa-500px"></i></span> Good Exchange
                rate
              </li>
              <li class="brand-ad-2-li">
                <span><i class="fa-solid fa-jet-fighter-up"></i></span> Fast
                payment
              </li>
              <li class="brand-ad-2-li">
                <span><i class="fa-solid fa-right-left"></i></span> Real Time
                crypto values
              </li>
              <li class="brand-ad-2-li">
                <span><i class="fa-solid fa-shield"></i></span> Secure
                Transactions
              </li>
              <li class="brand-ad-2-li">
                <span><i class="fa-solid fa-rotate"></i></span> Card Exchange
              </li>
            </ul>
            <div class="brand-ad-2-btn">
              <a href="/register" class="btn btn-btn">Get Started</a>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center brand-ad-2-img">
            <img
              src="/Assets/img/about-img.png"
              alt=""
              class="img-fluid w-75"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>
            Awesome reviews from people who have used
            <span class="brand">deem.</span> Try our service today .
          </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec
                  porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                  eget id, aliquam eget nibh et. Maecen aliquam, risus at
                  semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="Assets/img/testimonials/testimonials-1.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse
                  labore quem cillum quid cillum eram malis quorum velit fore
                  eram velit sunt aliqua noster fugiat irure amet legam anim
                  culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="Assets/img/testimonials/testimonials-2.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint
                  quorum nulla quem veniam duis minim tempor labore quem eram
                  duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="Assets/img/testimonials/testimonials-3.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                  multos export minim fugiat minim velit minim dolor enim duis
                  veniam ipsum anim magna sunt elit fore quem dolore labore.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="Assets/img/testimonials/testimonials-4.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                  veniam tempor noster veniam enim culpa labore duis sunt culpa
                  nulla illum cillum fugiat legam esse veniam culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="Assets/img/testimonials/testimonials-5.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End Testimonials Section -->
    <!-- Download app section  -->
    <section class="download-app-section">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-md-6 download-text">
            <h1>Download the <span class="navbar-brand">deem.</span>App</h1>
            <p>
              The <span class="brand">deem.</span> app is available for download
              on Google playstore and Apple Appstore.
            </p>
            <div class="btns g-5">
              <a href="#" class="btn btn-btn">
                <span><i class="fa-brands fa-google-play"></i></span>
                Playstore</a
              >
              <a href="#" class="btn btn-dark">
                <span><i class="fa-brands fa-apple"></i></span> Appstore</a
              >
            </div>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <img src="Assets/img/app.png" alt="" class="img-fluid w-75" />
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3 class="navbar-brand">deem.</h3>
              <p>
                5 Pearl Crescent <br />
                Ibadan, IB 11011<br />
                Nigeria<br /><br />
                <strong>Phone:</strong> +234 907 5341 378<br />
                <strong>Email:</strong> info@deem.com<br />
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/blog">Blog</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/about">About</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/rate">Rates</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/termofservice">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/privacypolicy">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Socials</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Twitter</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Instagram</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">info@deem.com</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Join Our Newsletter</h4>
              <p>
                Subscribe to our Newsletter to get new updates directly in your
                mail
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="copyright-wrap d-md-flex py-4">
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
              &copy; Copyright
              <strong><span class="brand">deem.</span></strong> All Rights
              Reserved
            </div>
            <div class="credits">
              Designed by
              <a href="https://zuxxypml.netlify.app/">Akinade Adebisi</a>
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <div id="preloader" class="preloader"></div>
  </body>
  <!-- JS  -->
  <!-- Font Awesome  -->
  <script
    src="https://kit.fontawesome.com/24f6148add.js"
    crossorigin="anonymous"
  ></script>
  <!-- jQuery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Swiper Js  -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- Owl JS  -->
  <script src="/Assets/vendors/owlcarousel/dist/owl.carousel.js"></script>
  <!-- Bootstrap Js  -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"
  ></script>

  <script src="Assets/vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Box Icons  -->
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <!-- Aos JS  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Core Js  -->
  <script src="/Assets/js/about.js"></script>
  <script>
    var owl = $(".owl-carousel");
    owl.owlCarousel({
      items: 4,
      nav: false,
      dots: false,
      loop: true,
      margin: 80,
      autoplay: true,
      autoplayTimeout: 1000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive: {
        360: {
          items: 1,
        },
        480: {
          items: 2,
        },
        760: {
          items: 5,
          loop: true,
        },
      },
    });
  </script>
  <script>
    new Swiper(".testimonials-slider", {
      speed: 600,
      loop: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      slidesPerView: "auto",
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 40,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },

        980: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
    });
  </script>
  <script>
    AOS.init();
  </script>
</html>
